#recipeImageBox
{
    width: 100%;
    align-items: center;
}

#recipeImage
{
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

#cookingModeButton
{
    border: 2px solid #457bd1;
    border-radius: 5px;
    width: 30px;
}

#helpButton
{
    width: 30px;
}