#recipe
{
    border: 2px solid #457bd1;
    border-radius: 5px;
    padding: 10px;
    color: #457bd1;
    text-shadow: 1px 1px #b1b8c2;
}

.recipeButton
{
    min-width: 40%;
    min-height: 40px;
}