body
{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cfdff8;
}

header
{
    text-align: center;
    background-color: #457bd1;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1
{
    font-size: 28pt;
}

h2
{
    font-size: 18pt;
}

main
{
    width: 50%;
    margin-left: 25%;
    align-content: center;
}

@media (max-width: 600px) 
{
    main
    {
        width: 100%;
        margin-left: 0%;
    }
}

footer
{
    text-align: center;
    background-color: #457bd1;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacerSmall
{
    height: 10px;
}

.spacerMedium
{
    height: 20px;
}

.spacerBig
{
    height: 30px;
}

button
{
    background-color: #457bd1;
    color: white;
    border: none;
    font-size: 12pt;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 40%;
    min-height: 40px;
}

button:hover
{
    background-color: #3760a2;
}

.spacedContent
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageEmoji
{
    max-width: 15px;
    max-height: 15px;
}

.box
{
    border: 2px solid #457bd1;
    border-radius: 5px;
    padding: 10px;
    color: #457bd1;
    text-shadow: 1px 1px #b1b8c2;
    margin-top: 10px;
    margin-bottom: 10px;
}