body
{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cfdff8;
}

header
{
    text-align: center;
    background-color: #457bd1;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1
{
    font-size: 28pt;
}

h2
{
    font-size: 18pt;
}

main
{
    width: 50%;
    margin-left: 25%;
    padding: 5px;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer
{
    text-align: center;
    background-color: #457bd1;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacerSmall
{
    height: 10px;
}

.spacerMedium
{
    height: 20px;
}

.spacerBig
{
    height: 30px;
}

button
{
    background-color: #457bd1;
    color: white;
    border: none;
    font-size: 12pt;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    min-height: 20px;
    min-width: 100px;
}

button:hover
{
    background-color: #3760a2;
}

.spacedContent
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageEmoji
{
    width: 20px;
    height: 20px;
}